:root {
  --pix-details--display: flex;
  --pix-details--flex-flow: column nowrap;
  --pix-details--gap: var(--space-3);

  --pix-details--background-color: var(--card-background-color, var(--color-surface));
  --pix-details--padding: var(--space-4);
  --pix-details--border-color: var(--color-border);
  --pix-details--border-style: solid;
  --pix-details--border-width: 0.1rem;
  --pix-details--border-radius: var(--card-border-radius, var(--radius-control));
}

[is="pix-details"] {
  display: var(--pix-details--display);
  flex-flow: var(--pix-details--flex-flow);

  background-color: var(--pix-details--background-color);
  padding: var(--pix-details--padding);
  border-style: var(--pix-details--border-style);
  border-width: var(--pix-details--border-width);
  border-color: var(--pix-details--border-color);
  border-radius: var(--pix-details--border-radius);

  summary {
    display: flex;
    flex-flow: row nowrap;
    place-items: center;
    place-content: space-between;
    cursor: pointer;

    &::marker,
    &::-webkit-details-marker {
      content: "";
      display: none;
    }

    i {
      display: inline-flex;
      transition: rotate 0.2s ease;
    }
  }
}
