@layer pix-galaxy {
  @layer pix-highlighter {
    @layer themes {
      :root[data-pix-highlighter-theme="aurora"] pre[is="pix-highlighter"] {
        --pix-highlighter--bg: light-dark(#f5fbff, #09161d);
        --pix-highlighter--fg: light-dark(#183042, #e8f7ff);
        --pix-highlighter--kw: light-dark(#0284c7, #80d4ff);
        --pix-highlighter--str: light-dark(#b45309, #ffd166);
        --pix-highlighter--num: light-dark(#dc2626, #ff7b72);
        --pix-highlighter--com: light-dark(#6f8ea0, #6f8ea0);
        --pix-highlighter--id: light-dark(#0f766e, #9bf6ff);
        --pix-highlighter--fn: light-dark(#0f766e, #5eead4);
        --pix-highlighter--op: light-dark(#0f766e, #9ae6b4);
        --pix-highlighter--tag: light-dark(#0ea5b7, #64dfdf);
        --pix-highlighter--attr: light-dark(#c2410c, #ffb86c);
        --pix-highlighter--key: light-dark(#7c3aed, #b8f2e6);
        --pix-highlighter--var: light-dark(#0f766e, #9bf6ff);
        --pix-highlighter--mac: light-dark(#8b5cf6, #d0bfff);
        --pix-highlighter--pp: light-dark(#6f8ea0, #bde0fe);
        --pix-highlighter--prop: light-dark(#0ea5b7, #9bf6ff);
        --pix-highlighter--type: light-dark(#059669, #7ef7c9);
        --pix-highlighter--mdh: light-dark(#0284c7, #80d4ff);
        --pix-highlighter--mde: light-dark(#c2410c, #ffb86c);
        --pix-highlighter--mds: light-dark(#183042, #ffd166);
        --pix-highlighter--mdc: light-dark(#0f766e, #5eead4);
        --pix-highlighter--mdl: light-dark(#0ea5b7, #64dfdf);
        --pix-highlighter--mdbq: light-dark(#6f8ea0, #9fb3c8);
        --pix-highlighter--mdli: light-dark(#0f766e, #9bf6ff);
        --pix-highlighter--mdhr: light-dark(#c7ddea, #35506a);
        --pix-highlighter--mdimg: light-dark(#8b5cf6, #bde0fe);
        --pix-highlighter--tab-size: 2;
        --pix-highlighter--line-height: 1.55;
        --pix-highlighter--text-shadow: none;
        color-scheme: light dark;
      }
    }
  }
}
