@layer pix-galaxy {
  @layer pix-highlighter {
    @layer themes {
      :root[data-pix-highlighter-theme='monokai'] pre[is='pix-highlighter'] {
        --pix-highlighter--bg: #272822;
        --pix-highlighter--fg: #f8f8f2;
        --pix-highlighter--kw: #f92672;
        --pix-highlighter--str: #e6db74;
        --pix-highlighter--num: #ae81ff;
        --pix-highlighter--com: #88846f;
        --pix-highlighter--id: #f8f8f2;
        --pix-highlighter--op: #f92672;
        --pix-highlighter--tag: #f92672;
        --pix-highlighter--attr: #a6e22e;
        --pix-highlighter--key: #66d9ef;
        --pix-highlighter--var: #fd971f;
        --pix-highlighter--mac: #fd5ff0;
        --pix-highlighter--pp: #66d9ef;
        --pix-highlighter--prop: #a6e22e;
        --pix-highlighter--type: #66d9ef;
        --pix-highlighter--mdh: #a6e22e;
        --pix-highlighter--mde: #f92672;
        --pix-highlighter--mds: #e6db74;
        --pix-highlighter--mdc: #88846f;
        --pix-highlighter--mdl: #66d9ef;
        --pix-highlighter--mdbq: #b8b8b2;
        --pix-highlighter--mdli: #fd971f;
        --pix-highlighter--mdhr: #5f5a4b;
        --pix-highlighter--mdimg: #ae81ff;

        --pix-highlighter--tab-size: 2;
        --pix-highlighter--line-height: 1.55;
        --pix-highlighter--text-shadow: none;
      }
    }
  }
}
