@layer pix-galaxy {
  @layer pix-highlighter {
    @layer themes {
      :root[data-pix-highlighter-theme='nord'] pre[is='pix-highlighter'] {
        --pix-highlighter--bg: #2e3440;
        --pix-highlighter--fg: #d8dee9;
        --pix-highlighter--kw: #81a1c1;
        --pix-highlighter--str: #a3be8c;
        --pix-highlighter--num: #b48ead;
        --pix-highlighter--com: #616e88;
        --pix-highlighter--id: #e5e9f0;
        --pix-highlighter--op: #88c0d0;
        --pix-highlighter--tag: #81a1c1;
        --pix-highlighter--attr: #8fbcbb;
        --pix-highlighter--key: #5e81ac;
        --pix-highlighter--var: #d08770;
        --pix-highlighter--mac: #bf616a;
        --pix-highlighter--pp: #ebcb8b;
        --pix-highlighter--prop: #88c0d0;
        --pix-highlighter--type: #8fbcbb;
        --pix-highlighter--mdh: #88c0d0;
        --pix-highlighter--mde: #d08770;
        --pix-highlighter--mds: #ebcb8b;
        --pix-highlighter--mdc: #616e88;
        --pix-highlighter--mdl: #81a1c1;
        --pix-highlighter--mdbq: #a7b1c2;
        --pix-highlighter--mdli: #b48ead;
        --pix-highlighter--mdhr: #4c566a;
        --pix-highlighter--mdimg: #8fbcbb;

        --pix-highlighter--tab-size: 2;
        --pix-highlighter--line-height: 1.55;
        --pix-highlighter--text-shadow: none;
      }
    }
  }
}
