:host {
  display: block;
  color: var(--color-text);
  font-family: var(--font-family-sans);
}

article {
  padding: var(--space-5);
  border: 0.1rem solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  background: var(--card-background-color);
  box-shadow: var(--card-box-shadow);
}

h2 {
  margin-block: 0 var(--space-2);
  font-size: var(--font-size-1);
}
